/* Birdhouse
 * CSS flexbox responsive grid
 *
 * Copyright 2015 Michael Babcock
 * Distributed under the MIT License
 * http://opensource.org/licenses/MIT
 *
 */
.birdhouse {
  width: 100%;
  max-width: 90em;
  margin: 0 auto;
}

.birdhouse * {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.landing {
  padding: 0;
  margin: 0;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -ms-flex-direction: row;
  -webkit-flex-direction: row;
  flex-direction: row;
  -ms-flex-wrap: wrap;
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
  /*-ms-flex-flow: row wrap;
  -webkit-flex-flow: row wrap;
  flex-flow: row wrap;*/
}

[class*='bird-'] {
  -ms-flex-positive: 1;
  -webkit-flex-grow: 1;
  flex-grow: 1;
  -ms-flex-negative: 0;
  -webkit-flex-shrink: 0;
  flex-shrink: 0;
  -ms-flex-preferred-size: 100%;
  -webkit-flex-basis: 100%;
  flex-basis: 100%;
  /*max-width: 100%;*/
  /*-ms-flex: 1 0 100%;
  -webkit-flex: 1 0 100%;
  flex: 1 0 100%;*/
}

/* remove later!!!!!!!!! */
[class*='bird-'] {
  background: CadetBlue;
  color: white;
  border: 5px solid white;
  font-weight: bold;
  font-size: 2rem;
  text-align: center;
}

/*.bird-1 { background: tomato; }
.bird-2 { background: deepskyblue; }
.bird-3 { background: darkorchid; }
.bird-4 { background: cadetblue; }
.bird-5 { background: darkorchid; }
.bird-6 { background: darkorchid; }
.bird-7 { background: darkorchid; }
.bird-8 { background: darkorchid; }
.bird-9 { background: darkorchid; }
.bird-10 { background: darkorchid; }
.bird-11 { background: darkorchid; }
.bird-12 { background: darkorchid; }
.bird-13 { background: darkorchid; }
.bird-14 { background: darkorchid; }
.bird-15 { background: darkorchid; }
.bird-16 { background: darkorchid; }*/
/* nested */
[class*='bird-'] > .landing > [class*='bird-'] {
  /*padding: 0;
  border: 0; */
  background-color: gold;
}

/* Small devices (tablets, 768px and up) */
/* Medium devices (desktops, 992px and up) */
/* Large devices (large desktops, 1200px and up) */
@media only screen and (min-width: 30em) {
  .bhcol-1 {
    flex-basis: 8.33333%;
  }

  .bhcol-2 {
    flex-basis: 16.66667%;
  }

  .bhcol-3 {
    flex-basis: 25%;
  }

  .bhcol-4 {
    flex-basis: 33.33333%;
  }

  .bhcol-5 {
    flex-basis: 41.66667%;
  }

  .bhcol-6 {
    flex-basis: 50%;
  }

  .bhcol-7 {
    flex-basis: 58.33333%;
  }

  .bhcol-8 {
    flex-basis: 66.66667%;
  }

  .bhcol-9 {
    flex-basis: 75%;
  }

  .bhcol-10 {
    flex-basis: 83.33333%;
  }

  .bhcol-11 {
    flex-basis: 91.66667%;
  }

  .bhcol-12 {
    flex-basis: 100%;
  }
}
@media (min-width: 600px) {
  .bird-1 {
    flex-basis: 25%;
  }

  .bird-2 {
    flex-basis: 50%;
  }

  .bird-3 {
    flex-basis: 75%;
  }

  .bird-4 {
    flex-basis: 100%;
  }

  .bird-5 {
    flex-basis: 100%;
  }

  .bird-6 {
    flex-basis: 100%;
  }

  .bird-7 {
    flex-basis: 100%;
  }

  .bird-8 {
    flex-basis: 100%;
  }

  .bird-9 {
    flex-basis: 100%;
  }

  .bird-10 {
    flex-basis: 100%;
  }

  .bird-11 {
    flex-basis: 100%;
  }

  .bird-12 {
    flex-basis: 100%;
  }

  .bird-13 {
    flex-basis: 100%;
  }

  .bird-14 {
    flex-basis: 100%;
  }

  .bird-15 {
    flex-basis: 100%;
  }

  .bird-16 {
    flex-basis: 100%;
  }
}
@media (min-width: 700px) {
  .bird-1 {
    flex-basis: 12.5%;
  }

  .bird-2 {
    flex-basis: 25%;
  }

  .bird-3 {
    flex-basis: 37.5%;
  }

  .bird-4 {
    flex-basis: 50%;
  }

  .bird-5 {
    flex-basis: 62.5%;
  }

  .bird-6 {
    flex-basis: 75%;
  }

  .bird-7 {
    flex-basis: 87.5%;
  }

  .bird-8 {
    flex-basis: 100%;
  }

  .bird-9 {
    flex-basis: 100%;
  }

  .bird-10 {
    flex-basis: 100%;
  }

  .bird-11 {
    flex-basis: 100%;
  }

  .bird-12 {
    flex-basis: 100%;
  }

  .bird-13 {
    flex-basis: 100%;
  }

  .bird-14 {
    flex-basis: 100%;
  }

  .bird-15 {
    flex-basis: 100%;
  }

  .bird-16 {
    flex-basis: 100%;
  }
}
@media (min-width: 1000px) {
  .bird-1 {
    -ms-flex-preferred-size: 6.25%;
    -webkit-flex-basis: 6.25%;
    flex-basis: 6.25%;
    /* max-width: 6.25%;*/
  }

  .bird-2 {
    flex-basis: 12.5%;
  }

  .bird-3 {
    flex-basis: 18.75%;
  }

  .bird-4 {
    flex-basis: 25%;
  }

  .bird-5 {
    flex-basis: 31.25%;
  }

  .bird-6 {
    flex-basis: 37.5%;
  }

  .bird-7 {
    flex-basis: 43.75%;
  }

  .bird-8 {
    flex-basis: 50%;
  }

  .bird-9 {
    flex-basis: 56.25%;
  }

  .bird-10 {
    flex-basis: 62.5%;
  }

  .bird-11 {
    flex-basis: 68.75%;
  }

  .bird-12 {
    flex-basis: 75%;
  }

  .bird-13 {
    flex-basis: 81.25%;
  }

  .bird-14 {
    flex-basis: 87.5%;
  }

  .bird-15 {
    flex-basis: 93.75%;
  }

  .bird-16 {
    flex-basis: 100%;
  }
}
