/* Birdhouse
 * CSS responsive grid
 *
 * Copyright 2015 Michael Babcock
 * Distributed under the MIT License
 * http://opensource.org/licenses/MIT
 *
 */

.birdhouse{
    width: 100%; 
    max-width: 90em;
    margin: 0 auto;
}

.birdhouse *{
    box-sizing: border-box; 
}

.landing:before, 
.landing:after {
    content:"";
    display: table;
    clear:both;
}

[class*='bird-'] {
    float: left; 
    min-height: 1px; 
    width: 16.66%; 
    /* gutter */
    padding: .6em; 
    background-color: #C390D4;
}

.bird-1 { width: 12.5%; }
.bird-2 { width: 25%; }
.bird-3 { width: 37.5%; }
.bird-4 { width: 50%; }
.bird-5 { width: 62.5%; }
.bird-6 { width: 75%; }
.bird-7 { width: 87.5% }
.bird-8 { width: 100%; }

.outline, .outline *{
    outline: 1px solid #A1D490; 
}

[class*='bird-'] > p {
    background-color: #90C3D4; 
    padding: 0;
    margin: 0;
    text-align: center; 
    color: white; 
}

[class*='bird-'] > [class*='bird-'] {
    padding: 0;
    margin: 0;
}

@media all and (max-width:51em){
    .bird-1 { width: 25%; }
    .bird-2 { width: 50%; }
    .bird-3 { width: 50%; }
    .bird-4 { width: 50%; }
    .bird-5 { width: 100%; }
    .bird-6 { width: 100%; }
    .bird-7 { width: 100%; }
    .bird-8 { width: 100%; }

    .landing .bird-1 + .bird-3 { width: 75%; }
    .landing .bird-1 + .bird-3 + .bird-2 { width: 50%; }
    .landing .bird-1 + .bird-3 + .bird-2 + .bird-2 { width: 50%; } 
    .landing .bird-1 ~ .bird-1 ~ .bird-3 { width: 75%; }
    .landing .bird-1 + .bird-1 + .bird-3 { width: 50%; }
    .landing .bird-1 + .bird-1 + .bird-3:last-of-type { width: 75%; }
    .landing .bird-1 + .bird-1 + .bird-3 + .bird-3 { width: 100%; }
    .landing .bird-1 + .bird-1 + .bird-1 + .bird-5 { width: 25%; }
    .landing .bird-1 + .bird-2 + .bird-1 { width: 25%; }
    .landing .bird-1 + .bird-3 + .bird-4 { width: 100%; }
    .landing .bird-1 + .bird-1 + .bird-5 { width: 50%; }
    .landing .bird-1 + .bird-1 + .bird-5  + .bird-1 { width: 100%; }
    .landing .bird-1 + .bird-5 { width: 75%; }
    .landing .bird-1 + .bird-5 + .bird-2 { width: 100%; }
    .landing .bird-1 + .bird-2 { width: 75%; }
    .landing .bird-1 + .bird-2 + .bird-5 { width: 100% }
    .landing .bird-1 ~ .bird-6 { width: 50%; }
    .landing .bird-1 + .bird-6 + .bird-1 { width: 25%; }
    .landing .bird-1 ~ .bird-7 { width: 75%; }
    
    .landing .bird-2 ~ .bird-1:last-of-type{ width: 100%; }
    .landing .bird-2 + .bird-2 + .bird-1 + .bird-3 { width: 50%; }
    .landing .bird-2 + .bird-3 + .bird-1 { width: 50%; }
    .landing .bird-2 + .bird-3 + .bird-1 + .bird-1 { width: 25%; }
    .landing .bird-2 + .bird-3 + .bird-1 + .bird-1 + .bird-1 { width: 25%; }
    .landing .bird-2 + .bird-1 { width: 50%; }
    .landing .bird-2 + .bird-1 + .bird-3 { width: 50%; }
    .landing .bird-2 + .bird-5 { width: 50%; }
    .landing .bird-2 + .bird-2 + .bird-4 { width: 100%; }
    .landing .bird-2 + .bird-4 + .bird-2 { width: 100%; }
    .landing .bird-2 + .bird-5 + .bird-1 { width: 100%; }
    .landing .bird-2 + .bird-1 + .bird-5 { width: 100%; }
    .landing .bird-2 ~ .bird-6 { width: 50%; }

    .landing .bird-3:last-of-type { width: 100%; }
    .landing .bird-3 ~ .bird-2 { width: 100%; }
    .landing .bird-3 ~ .bird-5 { width: 50%; }
    .landing .bird-3 + .bird-1 { width: 50%; }
    .landing .bird-3 + .bird-2 { width: 50%; }
    .landing .bird-3 + .bird-2 + .bird-1 + .bird-1 { width: 50%; }
    .landing .bird-3 + .bird-1 + .bird-2 { width: 50%; }
    .landing .bird-3 + .bird-3 + .bird-2 { width: 100%; }
    .landing .bird-3 + .bird-3 + .bird-1 + .bird-1 { width: 50%; }
    .landing .bird-3 + .bird-1 + .bird-3 + .bird-1 { width: 50%; }
    .landing .bird-3 + .bird-1 + .bird-3 { width: 50%; }
    .landing .bird-3 + .bird-1  + .bird-2  + .bird-2 { width: 50%; }
    .landing .bird-3 + .bird-1 + .bird-4 { width: 100%; }

    .landing .bird-4 + .bird-2 { width: 25%; }
    .landing .bird-4 + .bird-1 + .bird-2 { width: 25%; }
    .landing .bird-4 + .bird-1 + .bird-2 + .bird-1 { width: 100%; }
    .landing .bird-4 + .bird-2 + .bird-1 { width: 25%; }
    .landing .bird-4 + .bird-2 + .bird-1 + .bird-1 { width: 100%; }
    .landing .bird-4 + .bird-2 + .bird-2 { width: 25%; }
    .landing .bird-4 + .bird-3 { width: 25%; }
    .landing .bird-4 + .bird-3 + .bird-1 { width: 25%; }
    .landing .bird-4 + .bird-1 + .bird-1 + .bird-2 { width: 100%; }
    .landing .bird-4 + .bird-1 + .bird-3 { width: 25%; }

    .landing .bird-5 + .bird-1 + .bird-1 + .bird-1 { width: 100%; }
    .landing .bird-5 ~ .bird-1 { width: 50%; }
    .landing .bird-5 + .bird-2 + .bird-1 { width: 50%; }
    .landing .bird-5 + .bird-1 + .bird-2 { width: 50%; }
    .landing .bird-5 ~ .bird-3 { width: 100%; }
    .landing .bird-6 ~ .bird-1 { width: 50%; }
    .landing .bird-6 ~ .bird-2 { width: 100%; }

    .landing .bird-7 ~ .bird-1 { width: 100%; }
}

@media all and (max-width:36em){
    .bird-1 { width: 100%; }
    .bird-2 { width: 100%; }
    .bird-3 { width: 100%; }
    .bird-4 { width: 100%; }
    .bird-5 { width: 100%; }
    .bird-6 { width: 100%; }
    .bird-7 { width: 100%; }
    .bird-8 { width: 100%; }

    .landing .bird-1 + .bird-1 + .bird-3 { width: 100%; }
    .landing .bird-1 + .bird-1 + .bird-1 + .bird-5 { width: 100%; }
    .landing .bird-1 + .bird-1 + .bird-1 + .bird-1 + .bird-1 + .bird-3 { width: 100%; }
    .landing .bird-1 + .bird-1 + .bird-5 { width: 100%; }
    .landing .bird-1 + .bird-1 + .bird-6 { width: 100%; }
    .landing .bird-1 + .bird-2 + .bird-1 { width: 100%; }
    .landing .bird-1 ~ .bird-2 { width: 100%; }
    .landing .bird-1 ~ .bird-3 { width: 100%; }
    .landing .bird-1 + .bird-3 + .bird-2 { width: 100%; }
    .landing .bird-1 + .bird-3 + .bird-2 + .bird-2 { width: 100%; }
    .landing .bird-1 + .bird-5 { width: 100%; }
    .landing .bird-1 + .bird-6 { width: 100%; }
    .landing .bird-1 + .bird-6 + .bird-1 { width: 100%; }
    .landing .bird-1 ~ .bird-7 { width: 100%; }

    .landing .bird-2 ~ .bird-1 { width: 100%; }
    .landing .bird-2 + .bird-1 + .bird-3 { width: 100%; }
    .landing .bird-2 + .bird-2 + .bird-1 + .bird-3 { width: 100%; }
    .landing .bird-2 + .bird-3 + .bird-1 { width: 100%; }
    .landing .bird-2 + .bird-3 + .bird-1 + .bird-1 { width: 100%; }
    .landing .bird-2 + .bird-3 + .bird-1 + .bird-1 + .bird-1 { width: 100%; }
    .landing .bird-2 ~ .bird-6 { width: 100%; }
    .landing .bird-2 + .bird-5 { width: 100%; }

    .landing .bird-3 + .bird-1 { width: 100%; }
    .landing .bird-3 + .bird-1 + .bird-2 { width: 100%; }
    .landing .bird-3 + .bird-1 + .bird-2 + .bird-2 { width: 100%; }
    .landing .bird-3 + .bird-1 + .bird-3 { width: 100%; }
    .landing .bird-3 + .bird-1 + .bird-3 + .bird-1 { width: 100%; }
    .landing .bird-3 + .bird-2 { width: 100%; }
    .landing .bird-3 + .bird-2 + .bird-1 + .bird-1 { width: 100%; }
    .landing .bird-3 + .bird-3 + .bird-1 + .bird-1 { width: 100%; }
    .landing .bird-3 + .bird-1 + .bird-1 + .bird-3 { width: 100%; }
    .landing .bird-3 + .bird-5 { width: 100%; }

    .landing .bird-4 + .bird-1 + .bird-2 { width: 100%; }
    .landing .bird-4 + .bird-1 + .bird-3 { width: 100%; }
    .landing .bird-4 + .bird-2 { width: 100%; }
    .landing .bird-4 + .bird-2 + .bird-1 { width: 100%; }
    .landing .bird-4 + .bird-2 + .bird-2 { width: 100%; }
    .landing .bird-4 + .bird-3 { width: 100%; }
    .landing .bird-4 + .bird-3 + .bird-1 { width: 100%; }

    .landing .bird-5 + .bird-1 { width: 100%; }
    .landing .bird-5 + .bird-1 + .bird-1 { width: 100%; }
    .landing .bird-5 + .bird-1 + .bird-2 { width: 100%; }
    .landing .bird-5 + .bird-2 + .bird-1 { width: 100%; }
    
    .landing .bird-6 + .bird-1 { width: 100%; }
    .landing .bird-6 + .bird-1 + .bird-1 { width: 100%; }
}
