// grid variables
$birdhouse-columns: 16;
$birdhouse-grid-max-width: 100em;
 
// breakpoints

// mobile
$birdhouse-breakpoint-xtra-small: "only screen";

// 640px 40em
$birdhouse-breakpoint-small: "only screen and (min-width: 40em)";

// 800px 50em
$birdhouse-breakpoint-medium: "only screen and (min-width: 50em)";

// 1200px 75em
$birdhouse-breakpoint-large: "only screen and (min-width: 75em)";

// 1900px 120em
$birdhouse-breakpoint-xtra-large: "only screen and (min-width: 120em)";

