// grid variables
$birdhouse-columns: 12;
$birdhouse-grid-max-width: 90em;
 
// breakpoints
$birdhouse-breakpoint-small: "only screen and (min-width: 20em)";
$birdhouse-breakpoint-medium: "only screen and (min-width: 30em)";
$birdhouse-breakpoint-large: "only screen and (min-width: 90em)";
