// grid variables
$birdhouse-columns: 16;
$birdhouse-grid-max-width: 90em;
 
// breakpoints

// mobile
$birdhouse-breakpoint-xtra-small: "only screen";

// 640px 40em
$birdhouse-breakpoint-small: "only screen and (min-width: 640px)";

// 800px 64em
$birdhouse-breakpoint-medium: "only screen and (min-width: 800px)";

// 1200px 90em
$birdhouse-breakpoint-large: "only screen and (min-width: 1200px)";

// 1900px 120em
$birdhouse-breakpoint-xtra-large: "only screen and (min-width: 1900px)";

