/* Birdhouse
 * CSS flexbox responsive grid
 *
 * Copyright 2015 Michael Babcock
 * Distributed under the MIT License
 * http://opensource.org/licenses/MIT
 *
 */

@import "_variables";
@import "_mixins";

.birdhouse{
    width: 100%; 
    max-width: $birdhouse-grid-max-width;
    margin: 0 auto;
}

.birdhouse *{
    @include birdhouse-border-box;
}

.row {
  padding: 0;
  margin: 0;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -ms-flex-direction: row;
  -webkit-flex-direction: row;
  flex-direction: row;
  -ms-flex-wrap: wrap;
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
}

/* Small devices (tablets, 768px and up) */
/* Medium devices (desktops, 992px and up) */
/* Large devices (large desktops, 1200px and up) */

@media #{$birdhouse-breakpoint-small} {}

@media #{$birdhouse-breakpoint-medium} {
  @for $i from 1 through $birdhouse-columns {

    $basis: 100% / $birdhouse-columns * $i;
    @if ($basis > 100) {
      $basis: 100%;
    }

    .birdhouse .row .columnsX-#{$i} { 
        flex-basis: $basis;
    }
  }
}

@media (min-width: 600px) {
  .columns-1 { flex-basis: 25%; }
  .columns-2 { flex-basis: 50%; }
  .columns-3 { flex-basis: 75%; }
  .columns-4 { flex-basis: 100%; }
  .columns-5 { flex-basis: 100%; }
  .columns-6 { flex-basis: 100%; }
  .columns-7 { flex-basis: 100%; }
  .columns-8 { flex-basis: 100%; }
  .columns-9 { flex-basis: 100%; }
  .columns-10 { flex-basis: 100%; }
  .columns-11 { flex-basis: 100%; }
  .columns-12 { flex-basis: 100%; }
  .columns-13 { flex-basis: 100%; }
  .columns-14 { flex-basis: 100%; }
  .columns-15 { flex-basis: 100%; }
  .columns-16 { flex-basis: 100%; }
}

@media (min-width: 700px) {
  .columns-1 { flex-basis: 12.5%; }
  .columns-2 { flex-basis: 25%; }
  .columns-3 { flex-basis: 37.5%; }
  .columns-4 { flex-basis: 50%; }
  .columns-5 { flex-basis: 62.5%; }
  .columns-6 { flex-basis: 75%; }
  .columns-7 { flex-basis: 87.5%; }
  .columns-8 { flex-basis: 100%; }
  .columns-9 { flex-basis: 100%; }
  .columns-10 { flex-basis: 100%; }
  .columns-11 { flex-basis: 100%; }
  .columns-12 { flex-basis: 100%; }
  .columns-13 { flex-basis: 100%; }
  .columns-14 { flex-basis: 100%; }
  .columns-15 { flex-basis: 100%; }
  .columns-16 { flex-basis: 100%; }
}

@media (min-width: 1000px) {
    .columns-1 { 
        -ms-flex-preferred-size: 6.25%;
        -webkit-flex-basis: 6.25%;
        flex-basis: 6.25%;
    }
  .columns-2 { flex-basis: 12.5%; }
  .columns-3 { flex-basis: 18.75%; }
  .columns-4 { flex-basis: 25%; }
  .columns-5 { flex-basis: 31.25%; }
  .columns-6 { flex-basis: 37.5%; }
  .columns-7 { flex-basis: 43.75%; }
  .columns-8 { flex-basis: 50%; }
  .columns-9 { flex-basis: 56.25%; }
  .columns-10 { flex-basis: 62.5%; }
  .columns-11 { flex-basis: 68.75%; }
  .columns-12 { flex-basis: 75%; }
  .columns-13 { flex-basis: 81.25%; }
  .columns-14 { flex-basis: 87.5%; }
  .columns-15 { flex-basis: 93.75%; }
  .columns-16 { flex-basis: 100%; }

}
